@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
  font-family: 'Oxygen', sans-serif;
  margin: 15px;
  
}

a{
  text-decoration: none;
  color: black;
}
.card{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 15px;
  border-radius: 15px;
  border: 2px solid green;
  
}
.card:hover{
  border: 2px solid gray;
  box-shadow: 0px 15px 18px greenyellow;
}

.img_perfil{
  border-radius: 180px;
  margin: 15px;
}

.nome_perfil{
  display: flex;
  align-items: center;
  margin: 15px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_solo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 45px;
}

.infos_perfil{
  display: flex;
  flex-direction: column;
}